<ion-header>
    <ion-toolbar>
        <ion-title mode="ios" side="large">
            Cẩm Nang Trồng Lan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="medium" mode="ios">
        <ion-img [src]="src_img"></ion-img>
        <ion-card-header>
            <ion-card-title>1. Chọn giống lan </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label> • Để cây lan có thể phát triển khỏe mạnh, người trồng cần lựa chọn cây con (10 tuần tuổi) đáp ứng các tiêu chí sau :
            </ion-label>
            <br>
            <ion-label>
                + Cây con khỏe mạnh,có bộ rễ phát triển hoàn chỉnh.
            </ion-label>
            <br>
            <ion-label>
                + Lá có màu xanh đặc trưng của giống.
            </ion-label>
            <br>
            <ion-label>
                + Chiều cao cây từ 3 – 4 cm.
            </ion-label>
            <br>
            <ion-label>
                + Cây không bị bệnh.
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-title>2. Chọn chậu trồng lan</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>
                <h5>
                    Người trồng lan cần chọn chậu phù hợp với kích cỡ và hình dáng của cây và không được kìm hãm sự phát triển của rễ lan. Vật liệu làm chậu có thể là nhựa, gốm, sứ tráng men, gáo dừa,...
                </h5>
                <br>
                <h6>
                    + Chậu nhựa phù hợp để trồng lan hồ điệp với số lượng cành từ 1 - 2 cành. Chậu không bị đọng nước và phù hợp để trồng với các giá thể cứng để giữ đất trong chậu. Có thể lựa chọn chậu trồng lan hồ điệp trong suốt để giúp cho dễ có khả năng sinh trưởng
                    và quang hợp tốt.
                </h6>
                <br>
                <h6>
                    + Chậu đất nung phù hợp với người trồng lan lâu dài, phù hợp để trồng từ 1 tới 3 cành lan hoặc những giò lan lớn hơn một chút so với thông thường
                </h6>
                <br>
                <h6>
                    + Chậu hồ điệp bằng gáo dừa tận dụng từ những chiếc vỏ dừa bỏ đi. Chậu có đặc điểm là giá thảnh rẻ, trọng lượng khá nhẹ (20 – 30g) và độ bền vừa phải với tuổi thọ từ 2-3 năm. Cần phơi khô trước khi trồng cây để giảm thiểu các chất có hại tới lan trong
                    vỏ dừa.
                </h6>
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-title>3.Chọn giá thể trồng</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>
                <h6>
                    Giá thể trồng là các chất sử dụng để trồng lan lên trên. Giá thể trồng lan cần có độ tơi xốp, thoáng khí có khả năng giữ nước cũng như thoát nước tốt như: dớn trắng, cốt gừa, than bùn, vụn sứ, đá chân chu,… Đối với mỗi loại giá thể khác nhau cần có giải
                    pháp chăm sóc khác nhau đặc biệt là việc tưới nước.
                </h6>
                <br>
                <h6>
                    + Than gỗ: có ưu điểm là không có mầm mống sâu bệnh, không bị mục và có khả năng giữ nước tốt. Chính vì thế than sẽ có khả năng hấp thụ dinh dưỡng qua quá trình bón phân và nhả ra dần dần qua sức hút của rễ cây lan.
                </h6>
                <br>
                <h6>
                    + Dớn : Đây là dạng sợi của thân và rễ cây dương sỉ, là một loại cây mọc nhiều ở các vùng thung lũng đồi núi như Đà Lạt. Dớn có ưu điểm là không bao giờ đóng rêu và hút ẩm rất tốt, có thể trồng kết hợp với các loại giá thể khác như than, xơ dừa.
                </h6>
                <br>
                <h6>
                    + Xơ dừa : Đây là chất trồng phù hợp để sản xuất lan đại trà trên qui mô lớn. Xơ dừa có ưu điểm về mặt giá thành do có nhiều ở Việt Nam, và vẫn đáp ứng các yêu cầu kỹ thuật về trồng lan, song có nhược điểm là dễ mọc rêu, và ít độ thoáng. Ngoài ra cần
                    hạn chế tưới nước và phải phun thuốc trừ sâu ngăn bệnh thường xuyên.
                </h6>
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-title>4.Quá trình chăm sóc ở giai đoạn cây phát triển </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>
                <h6>
                    Giai đoạn cây phát triển rễ - thân – lá
                </h6>
                <br>
                <h6>
                    + Cho giá thể vào khoảng 1/5 chậu. Nên cho những giá thể có kích thước lớn xuống phần đáy trước, giá thể có kích thước vừa và nhỏ ở giữa và trên. Luôn đảm bảo lượng giá thể trong chậu thấp hơn so với mép chậu từ 1 – 2 cm.
                </h6>
                <br>
                <h6>
                    + Khi trồng, không cho gốc cây nằm ở sát đáy chậu và chỉ để lưng chừng giữa lớp giá thể. Trên mặt, phủ một lớp xơ dừa hay dớn để tăng độ ẩm cho cây.
                </h6>
                <br>
                <h6>
                    + Lan hồ điệp cần nhiệt độ ban ngày là 18-29 oC và nhiệt độ ban đêm là 13-18 oC (cần tạo sự chênh lệch về nhiệt độ giữa ngày và đêm từ 10 – 15 độ)
                </h6>
                <br>
                <h6>
                    + Lan hồ điệp cần độ ẩm từ 50-80%. Mùa hè nên phun nước xuống đất để tăng thêm độ ẩm, không nên tưới vào lá vì có thể khiến cho lá bị thối. Tùy thuộc vào giá thể sử dụng để trồng lan (giá thể thường được sử dụng là vỏ cây, đá trân châu, vỏ cây dương xỉ,
                    than củi) mà lượng nước cần cho cây có thể khác nhau.
                </h6>
                <br>
                <h6>
                    + Có thể sử dụng đèn chiếu sáng nhân tạo để chiếu sáng tăng cường cho cây. Các đèn chiếu sáng nên đặt ở phía trên của cây và nên chiếu ít nhất 12 đến 16 giờ hàng ngày
                </h6>
                <br>
                <h6>
                    + Trước khi bón phân, cần phải tưới nước cho cây đầy đủ. Loại phân bón với công thức ổn định như NPK 14-14-14 là phân bón tốt nhất cho cây. Có thể bón với tần suất 7 ngày/lần
                </h6>
                <br>
                <h6>
                    • Ngoài ra, Những cây lan trong giai đoạn này cần được vệ sinh cây, chậu nhằm loại bỏ rễ, lá hư. Việc vệ sinh cây tiến hành thường ngày trên cơ sở quan sát lá, rễ lan. Khi cắt tỉa các lá, rễ hư cần khử trùng dụng cụ bằng cách hơ qua lửa để tránh lây nhiễm
                    bệnh đến các cây khác.
                </h6>
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-title>5.Chăm sóc cây giai đoạn ra hoa </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>
                <h6>
                    Với lan hồ điệp, khi tới giai đoạn cây ra hoa, cây cần phải đạt một số các tiêu chí về đặc điểm sinh trưởng như sau :
                </h6>
                <br>
                <h6>
                    Diện tích lá to gấp 2 - 4 lần so với thời kỳ cây con.
                </h6>
                <br>
                <h6>
                    Đỉnh ngọn tiếp tục ra lá mới.
                </h6>
                <br>
                <h6>
                    Màu lá xanh bóng, lá dầy, cứng, dạng lá cân đối.
                </h6>
                <br>
                <h6>
                    Thân tích trữ dinh dưỡng đầy đủ (thân mập, chắc và cứng).
                </h6>
                <br>
                <h6>
                    Rễ lớn, các chóp rễ phần màu xanh dài.
                </h6>
            </ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>