<ion-header>
    <ion-toolbar>
        <ion-title mode="ios" side="large">
            Cẩm Nang Trồng Lan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-title>Giới thiệu</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Việt Nam có điều kiện thời tiết khí hậu thích hợp cho sự phát triển của cây lan, là nơi có nhiều có nhiều giống lan quý hiếm hiện đang được trồng phổ biến ở nhiều nơi trên thế giới như: Ngọc điểm tai trâu, Ngọc điểm đuôi cáo, Hoàng thảo thủy
                tiên…
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-title>Đặc Điểm</ion-card-title>
            <ion-card-subtitle>1.1. Rễ</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-label> là họ sống phụ (bì sinh) bám, treo lơ lửng trên các cây thân gỗ khác. Các dạng thân gỗ nạc dài, ngắn, mập hay mảnh mai đưa cơ thể bò đi xa hay chụm lại thành các bụi dày. - Rễ làm nhiệm vụ hấp thu chất dinh dưỡng, chúng được bao bỡi lớp mô
                hút dày, ẩm bao gồm những lớp tế bào chết chứa đầy không khí, do đó nó ánh lên màu xám bạc. Với lớp mô xốp đó, rễ có khả năng hấp thu nước mưa chảy dọc dài trên vỏ cây, lấy nước lơ lửng trên không khí.
            </ion-label>
        </ion-card-content>
    </ion-card>
    <ion-card color="medium" mode="ios">
        <ion-card-header>
            <ion-card-subtitle>1.2. Thân</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-label> - Lan có 2 loại thân: đa thân và đơn thân. - Ở các loài lan sống phụ có nhiều đoạn phình lớn thành củ giả (giả hành). Đó là bộ phận dự trữ nước và các chất dinh dưỡng để nuôi cây trong điều kiện khô hạn khi sống bám trên cao. - Củ giả rất
                đa dạng: Hình cầu hoặc hình thuôn dài xếp sát nhau hay rải rác đều đặn hoặc hình trụ xếp chồng chất lên nhau thành một thân giả. - Cấu tạo củ giả: Gồm nhiều mô mềm chứa đầy dịch nhầy, phía ngoài là lớp biểu bì với vách tế bào dày, nhẵn
                bóng bảo vệ, tránh sự mất nước do mặt trời hun nóng. Đa số củ giả đều có màu xanh bóng, nên cùng với lá nó làm nhiệm vụ quang hợp.
            </ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>